

<!-- Content Row -->
<div class="row" style="margin-top: 5%; margin-bottom: 3%;">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-6 col-md-6 mb-6">
        <div class="card border-left-primary border-bottom-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Demandes</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{nbDemandes}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user fa-2x text-primary"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-6 col-md-6 mb-6" >
        <div class="card border-left-success border-bottom-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                           Approuvées</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{nbApprouver}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-check fa-2x text-success"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4" style="zoom:80%">
    <div class="card-header py-2 headerColor">
      <h6 class="m-0 font-weight-bold" style="color: white;">Toutes des demandes</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" >
          <thead>
            <tr>
              <th>Nom</th>
              <th>Description</th>
              <th>Région</th>
              <th>Adresse</th>
              <th>Prix</th>
              <th>téléphone</th>
              <th>Durée</th>
              <th>Action</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Région</th>
                <th>Adresse</th>
                <th>Prix</th>
                <th>téléphone</th>
                <th>Durée</th>
                <th>Action</th>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let j of dataTable">
              <td>{{j.nom}}</td>
              <td>{{j.description}}</td>
              <td>{{j.region}}</td>
              <td>{{j.adresse}}</td>
              <td>{{j.prix}}</td>
              <td>{{j.tel}}</td>
              <td>{{j.duree}}</td>
              <td>
                <a data-toggle="modal" data-target="#AddModal" class="btn btn-success"
                  style="margin-right: 2%; width: 40%;" (click)="Approuver(j)">
                  <i class="fas fa-check" data-toggle="tooltip" data-placement="top" title="Approuver"></i>
                </a>
                <a class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Désapprouver" 
                style="width: 40%;" (click)="Desapprouver(j)"> 
                  <i class="fas fa-trash"></i>
                </a> 
              </td>
            </tr>
  
          </tbody>
        </table>
      </div>
    </div>
  </div>
